.container_grid{
display: grid;
grid-template-columns: 23% 77%;
grid-template-rows:100vh;
grid-template-areas: 'menu grid-cont';
}
.menu{
grid-area: menu;
}
.container_personal_info{
grid-area: personal;
}
container_education{
grid-area: education;
}
.container_main{
display: grid;
grid-template-rows: 100% 100% 100% 100% 100%;
grid-template-areas: 'personal'  'education' 'work' 'skils' 'contact';
grid-area: grid-cont;
overflow-y: scroll;
}

.container_work{
grid-area: work;
}
.container_skils{
grid-area: skils;
}
.container_contact{
grid-area: contact;
}
